{
    "postgresDB" : {
        "host" : "localhost",
        "user" : "postgres",
        "password" : "changeme",
        "dbName" : "ShortURLDataDB",
        "port" : "5432",
        "sslmode" : "disable"
    },
    "server" : {
        "restPort" : "8585",
        "dataCenterId" : "1",
        "mashineId" : "1"
    }
}
