# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Audit

env:
  VERSION: 1.0.2

on:
  push:
    branches:
      - master
      - staging
      - test
      - dev
  pull_request:
    branches:
      - master
      - staging
      - test
      - dev

jobs:
  audit:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ""
          POSTGRES_DB: pro
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Set Configurations as Environment Variables
        run: |
          echo "postgresDB:" >> config/config.yml
          echo "  host: ${{ secrets.POSTGRES_HOST }}" >> config/config.yml
          echo "  user: ${{ secrets.POSTGRES_USER }}" >> config/config.yml
          echo "  password: ${{ secrets.POSTGRES_PASSWORD }}" >> config/config.yml
          echo "  port: 5432" >> config/config.yml
          echo "  ssl: ${{ secrets.POSTGRES_SSLMODE }}" >> config/config.yml
          echo "server:" >> config/config.yml
          echo "  restPort: ${{ secrets.SERVER_RESTPORT }}" >> config/config.yml
          echo "  dataCenterId: ${{ secrets.SERVER_DATA_CENTER_ID }}" >> config/config.yml
          echo "  machineId: ${{ secrets.SERVER_MACHINE_ID }}" >> config/config.yml

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Go Mod Verify
        run: go mod verify
        
      - name: Build
        run: go build -v ./...

      - name: Run go vet
        run: go vet ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run staticcheck
        run: staticcheck ./...

      - name: Install golint
        run: go install golang.org/x/lint/golint@latest

      - name: Run golint
        run: golint ./...

      - name: Run tests
        run: go test -race -vet=off ./...

      - name: Install AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli

      - name: Login to AWS
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY

      - name: Build Golang binary
        run: go build -o app

      - name: create the bundle source
        run: zip -r app.zip app

      - name: Upload source bundle to S3
        run: aws s3 cp app.zip s3://smurl-bucket/app.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-central-1
